body{
    font-family: 'Montserrat', sans-serif;
}
/* common ^  */


/*flex screen*/
.top-screen{
    display: flex;
    flex-direction: row;
    
}

/*/flex screen*/




/*sezione navbar sinistra--------------------*/
.header-bgcolor{
    background-color: black;
    height: calc(100vh - 100px);
    width:260px;
    padding: 2em 1em 0.5em 1em;
    
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    color: #919191;
}

.nav-top{
    display: flex;
    flex-direction: column;
    gap:25px;
}

.nav-img-container{
    width: 150px;
}

.nav-top-home{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.nav-top-home-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: -1em;
    padding-left: 1em;
    border-left: 3px solid transparent;
}

#greenborder-nav{
    border-left: 3px solid #B9FF32;
}

.nav-icons{
    width: 1.5em;
}

#home{
    color: white;
}


.nav-top-playlist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.nav-top-playlist h2{
    color: white;
}

.crea-playlist{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.fa-square-plus{
    font-size: 3em;
}

.nav-top-playlist ul{
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style-type: none;
}
.nav-bottom{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.nav-bottom hr{
    border-color:#919191;
}

.nav-bottom-small{
    display: flex;
    gap: 10px;
    font-size: 0.8em;
}

.nav-bottom-white{
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
}

.nav-bottom-img-container{
    height: 35px;
    width: 35px;
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
}

.nav-bottom-img-container img{
    height: 100%;
    margin-left: 2px;
}
/* fine parte navbar laterale--------------------*/



/*main-------------------------------------------*/
.main-bgcolor{
    background-color: #141922;
    width: calc(100% - 260px);
    height: calc(100vh - 100px);
    position:relative;
}


/*barra upgrade*/
.upgrade{
    display: flex;
    justify-content: flex-end;

    width: calc(100% - 260px);
    height: 100px;

    position: fixed;
    top: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.441);
    padding: 25px 27px 40px;
}

.btn-upgrade{
    background-color: transparent;
    color: white;
    border: 1px solid white;

    border-radius: 30px;
    padding: 10px 40px;
    transition: transform 0.5s;
}

.btn-upgrade:hover{
    transform: scale(110%);
}

/*fine barra upgrade*/

/*inizio main display*/


.main-display{
    overflow-y: auto;
    height: calc(100vh - 100px);
    padding: 100px 30px;

}

/*lista pagine*/
.main-page-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;

    max-width: 900px;
    padding: 2em 0;
    margin: 0 auto;
    list-style-type: none;

    font-weight: bold;
    color:#919191;

}


.main-page-list li{
    position: relative;
    margin-bottom: 1em;
}

.main-page-list li#list-active::before{
    content: "";

    position: absolute;

    left: 50%;
    bottom: -6px;
    transform: translateX(-50%);

    width: 50px;
    height: 3px;
    background-color: #B9FF32;
}


.main-page-list li:hover{
    color: white;
    cursor: pointer;
}

/*fine lista pagine*/



/*N.B. lo stile delle cards è definito nella prima sezione!!!*/
/*section album-prima sezione*/

.album{
    padding: 0 30px;
    color: white;
}


.album h2{
    font-size: 2.5em;
    margin-bottom: 1em;
}


.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    text-align: center;
    width: calc(100% / 6 - (20px / 6 * 5));
}


.card-img-container{
    width: 100%;
    position: relative;
}

/*main bonus*/
.main-bonus{
    display: none;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    font-size: 3em;

    position: absolute;
    top: 0;
    left: 0;
}





.card-img-container:hover .main-bonus{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/*fine main bonus*/

.card-img-container img{
    width: 100%;
}




.title{
    font-size: 1.1em;
    padding-top: 10px;
}



.subtitle{
    font-size: 0.9em;
    color: #919191;
}
/*fine section album*/

/*section John Doe*/
.john-doe{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 2em 30px;
    color: white;
}


.john-doe h2{
    display: flex;
    flex-direction: column;
    
    font-size: 2.5em;

}

.john-doe .subtitle{
    font-size: 0.3em;
    padding: 1em 0 1.5em;
}
/*fine section John Doe*/

/*section artisti*/
.artisti{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 2em 30px;
    color: white;
}


.artisti h2{
    display: flex;
    flex-direction: column;
    
    font-size: 2.5em;
}


.artisti .subtitle{
    font-size: 0.3em;
    padding: 1em 0 1.5em;
}

.artisti .card-img-container{
    border-radius: 50%;
    overflow: hidden;
}



/*fine main-------------------------------------*/





/*section comandi----------------------------------*/
.command-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
  

    background-color:#282828 ;
}

/*parte sinistra*/
.command-sx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-shrink: 2;
    
    width: 100%;
    max-width: 260px;
    height: 100%;
    padding: 15px 10px;
    color: #919191;
}


.track{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.track-img-container{
    height: 100%;
    
}

.track-img-container img{
    height: 100%;
}

.track-name{
    display: flex;
    flex-direction: column;
}

#command-album{
    color: white;
}

#command-brano-nome{
    font-size: 0.7em;
}

.like-save{
    display: flex;
    gap: 10px;
}

/*bonus hover*/

.nav-top-home-row:hover{
    color: white;
    cursor: pointer;
}    


.crea-playlist:hover{
    color: white;
    cursor: pointer;
}


.nav-top-playlist ul li:hover{
    color: white;
    cursor: pointer;
}


.nav-bottom-small:hover{
    cursor: pointer;
    color: white;
}
/*fine bonus*/

/*fine parte sinistra*/


/*command bar centrale*/

.command-center{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    width: 100%;
    height: 100%;
    min-width: 200px;
    max-width: 500px;

    padding: 15px 3px;
}

/*command bar centrale top*/
.command-center-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    height: 50%;
   
    color: white;
    font-size: 1.2em;

   
}

#commandbar-play{
    font-size: 1.6em;
    transition: transform 0.3s;
}

#commandbar-play:hover{
    color:#B9FF32;
    transform: scale(110%);
}

/*command bar centrale bottom*/
.command-center-bottom{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    height: 50%;
   
    color:#919191;
   
}

.command-center-bottom-time{
    font-size: 0.7em;
}

.timeline{
    height: 3px;
    flex-grow: 1;
    
}

.timeline-tot{
    height: 100%;
    width: 100%;
    background-color: #919191;
    border-radius: 3px;
    
}

.timeline-current{
    height: 100%;
    width: 15%;
    background-color: white;
    border-radius: 3px;
}

/*hover play timeline*/
.play-timeline-bonus{
    display: none;
    position: relative;

    width: 100%;
    height: 100%;

    background-color: #B9FF32;
}

.play-timeline-bonus-hover{

    position: absolute;
    top: -6px;
    right: -8px;

    width: 15px;
    height: 15px;

    background-color: white;
    border: 1px solid grey;
    border-radius: 50%;
}

.timeline:hover{
    cursor: pointer;
}

.timeline:hover .play-timeline-bonus{
    display: block;
}
/*fine hover su timeline*/



/*fine parte centrale command bar----------*/

/*parte dx command bar--------*/
.command-dx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 2;

    gap: 5px;
    width: 100%;
    max-width: 260px;
    height: 100%;
    padding: 15px 10px;
    color: white;
}


.command-audio{
    height: 3px;
    width: 50%;
}


.command-audio-tot{
    height: 100%;
    width: 100%;

    border-radius: 3px;
    background-color: #919191;
}

.command-audio-current{
    height: 100%;
    width: 50%;

    position: relative;

    border-radius: 3px;
    background-color: white;
}

/*hover audio line*/

.audio-hover{
    display: none;

    position: absolute;
    top: -6px;
    right: -8px;

    width: 15px;
    height: 15px;

    background-color: white;
    border: 1px solid grey;
    border-radius: 50%;


}

.command-audio:hover{
    cursor: pointer; 
}

.command-audio:hover .audio-hover{
    display: block;  
}
/*fine hover audio line*/

/*fine pt destra*/




/*bonus hover*/

.command-bar i:hover{
    cursor: pointer;
    color: white;
}

#command-brano-nome:hover{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
/*fine bonus*/

/*fine command bar-----------------------------------*/


/*bonus video play loading---------------------------*/

.timeline-current:active{
   animation: load 30s linear ;
}

@keyframes load{
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}